
:root {
	color-scheme: light dark;
	--accent: #18E299;
	--white: #FFFFFF;
	--black: #08090A;
	--border: #08090a12;
	--credit-bar-height: 25px;
	--brand-light: lab(51.3415% -41.5657 15.3527);
	--soft-light: lab(100 0 0 / 0.15);
	--soft-light-b: lab(100 0 0 / 0.05);
	--text-main: lab(100% 0 0);
}

.icon-small {
  width: 16px;
  height: 16px;
}

body {
	font-family: "Inter", sans-serif;
  font-optical-sizing:none;
  font-weight: 400;
  font-style:normal; 
  background-color: light-dark(var(--white), var(--black));
  margin: 0;
}

/* CREDIT BAR */
.credit-bar {
	position: fixed;
    width: 100%;
    background-color: var(--accent);
    border-bottom: 0px solid var(--border);
    color: var(--black);
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 6px 0;
    flex-shrink: 0;
    z-index: 100;
}
.credit-bar a {
    color: var(--black);
    text-decoration: none;
    font-weight: 700;
    transition: opacity 0.2s;
}
.credit-bar a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.hero-bg {
	object-fit: cover;
	width: 100%;
	position: absolute;
	z-index: -1;
}
/* Default: hide dark image */
.dark-only { display: none; }

@media (prefers-color-scheme: dark) {
  .light-only { display: none;}
  .dark-only { display: block; }
}

.brand-logo {
	object-fit: contain;
	width: 100px;
	height: auto;
	display: block;
}
/* Container */
.main-header {
  position: fixed;
  top: var(--credit-bar-height);
  left: 0;
  right: 0;
  z-index: 100;
  padding: 1rem 1.5rem;
  width: 100%;
  backdrop-filter: blur(0px);
  animation: blur-on-scroll linear both;
  animation-timeline: scroll(); /* Tracks the page scroll */
  animation-range: 0px 100px;  /* Effect starts at 0px and finishes at 100px scroll */
  }
  
  @keyframes blur-on-scroll {
    to {
      background-color: var(--soft-light-b);
      backdrop-filter: blur(10px);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

/* Nav Bar Wrapper */
.nav-bar-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.nav-bar-inner {
  display: flex;
  align-items: center;
  max-width: 1056px; /* 66rem */
  margin: 0 auto;
  gap: 2rem;
}

/* Left Group */
.nav-left-group {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.desktop-nav ul {
  display: flex;
  list-style: none;
  gap: 0.25rem;
  margin: 0;
  padding: 0;
}
.nav-item{
	align-items: center;
	background: lab(100% 0 0 / .00);
  color: var(--white);
  padding: 4.5px 12px;
  border-radius: 9999px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  
}
.nav-item:hover{
	background: lab(100% 0 0 / .05);
  color: #fff;
  padding: 4.5px 12px;
  border-radius: 9999px;
  text-decoration: none;
}

/* Right Group */
.nav-right-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.desktop-actions {
  display: flex;
  gap: 0.5rem;
}

/* Buttons (Simplified) */
.btn-primary {
  background: lab(100% 0 0 / .05);
  color: #fff;
  padding: 4.5px 12px;
  border-radius: 9999px;
  text-decoration: none;
  font-weight: 500;
  text-size-adjust: 100%;
font-family: inter, "inter Fallback";
font-feature-settings:normal;
font-size:15px;
font-variation-settings:normal;
font-weight:500;
line-height:22.5px;
tab-size:4;
text-decoration-color: lab(100 0 0);
text-decoration-line:none;
text-decoration-style:solid;
text-decoration-thickness:auto;
text-wrap-mode: nowrap;
white-space-collapse: collapse;
}

.btn-secondary {
  background: #f4f4f4;
  color: #000;
  padding: 4.5px 12px;
  border-radius: 9999px;
  text-decoration: none;
  font-family: inter, "inter Fallback";
font-feature-settings:normal;
font-size:15px;
font-variation-settings:normal;
font-weight:500;
line-height:22.5px;
tab-size:4;
text-decoration-color: lab(100 0 0);
text-decoration-line:none;
text-decoration-style:solid;
text-decoration-thickness:auto;
text-wrap-mode: nowrap;
white-space-collapse: collapse;
}
.hero-caption-container{
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	padding-top: 104px;
	padding-bottom: 96px;
	flex-direction: column;
}
.hero-title{
	display: block;
	max-width: 688px;
	color: var(--white);
	font-size: max(2.5rem,min(4vw,4rem));
	font-weight: 600;
	z-index: 50;
	text-align: center;
}
.feature-announcement {
	position: relative;
	align-items: center;
	display: flex;
	left: 50%;
	padding: 4px 4px;
	top: 120px;
	width: fit-content;
	background-color: light-dark(lab(2.42579% -.165291 -.470081/.15), lab(100 0 0 / 0.15));
	border-radius: 9999px;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	backdrop-filter: blur(12px);
	translate: -50%;
	cursor: pointer;
}
.feature-announcement:hover{
	background-color: light-dark(lab(100 0 0 / 0.05), lab(100 0 0 / 0.05));
  padding: 4px 4px;
  border-radius: 99px;
  text-decoration: none;
}

.feature-announcement__badge{
	padding: 4px 8px;
	font-size: 12px;
	font-weight: 500;
	color: var(--white);
	background-color: var(--brand-light);
	border-radius: 60px;
	margin-right: 5px;
}
.feature-announcement__text {
	color: var(--white);
	padding-left: 4px;
	margin:0;
	font-weight: 500;
	line-height: 1.5;
	white-space-collapse: collapse;
}
 .feature-announcement-icon {
	margin-left: 8px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 8px;
	color:  var(--white);
 }
.hero-subtitle {
	display: block;
	margin-top: 24px;
	color: var(--white);
	max-width: 29.5rem;
	text-align: center;
	line-height: 1.5;
	font-size: 20px;
}
.emailstart {
	max-width: 22.5rem;
	align-items: center;
	display: flex;
	margin-top: 24px;
	left: 50%;
	padding: 2px;
	width: 100%;
	background-color: light-dark(lab(100 0 0 /0.15), lab(100 0 0 / 0.15));
	border: 1px solid ;
	border-color: var(--soft-light);
	border-radius: 9999px;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	backdrop-filter: blur(12px);
	cursor: pointer;
}

input {
	background-color: transparent;
	border: 0px solid;
	color: var(--text-main);
	width: 100%;
	height: 32px;
	padding: 0px 12px;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.5;
	text-align: start;
}
input::placeholder {
	color: lab(100 0 0 / 0.5);
}
input:focus {
	outline: none;
	border: none;
	box-shadow: none;
}
.hero-img-container{
	position: relative;
	margin: 0 auto;
	max-width: 67.5rem;
	justify-content: center;
	align-items: center;
}
.hero-img {
	border-radius: 25px;
	width: 100%;
	mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
	-webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
.hero-img::after {
	height: 22%;
	left: -8%;
	mask: linear-gradient(to top, #000 10%, transparent 80%) no-repeat;
  -webkit-mask: linear-gradient(to top, #000 10%, transparent 80%) no-repeat;
}
.company-list-container {
	margin-top: 0;
	padding: 72px 32px 144px ;
}

.company-list {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 32px;

	max-width: 64rem;
	margin: 0 auto;
	align-items: center;
	justify-items: center;
}

.company {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 64px;
}

.company-logo {
	max-width: 140px;
	width: 100%;
	height: auto;
	opacity: 1;
	transition: opacity 0.2s ease;
}
